html, body {
    background-color: #F5F5F5;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.topbar {
    width: 100%;
    display:flex;
    height: 55px;
    align-items: center;
    background-color: #3A3A3A;
    color: #fff;
}

.topbar a{
    color: #fff;
    font-weight: bold;
}

.topbar a i{
    margin-left: 20px;
    margin-right: 10px;
}

nav ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3A3A3A;
    position: fixed;
    bottom: 0;
}

nav li {
    flex:1
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight:bold;
}

nav li a:hover:not(.active) {
    background-color: #111111;
}

i {
    margin:0 30px;
    font-size: 22px;
}

.active {
    background-color: #FF841C;
}

section.categories, section.title{
    display:flex;
    flex-direction: column;
    align-items:center;
}
section.title img{
    margin: 20px;
}

section h1{
    color:#FF841C;
    font-weight:bold;
    margin:5px;
}

section p{
    margin:5px 0;
}

section.categories ul{
    display:flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.categories ul li{
    flex:1;
    display:flex;
    border: 1px solid #fff;
    background-color: #3A3A3A;
    font-size:22px;
    font-weight:bold;
    color: white;
    text-align:center;
    align-items:center;
    justify-content:center;
    text-shadow: 0 0 10px black;
}

section.categories ul li a{
    width: 200px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
    flex:1;
    padding: 40px 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
}

.card {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    border: 1px solid #a7aaac;
    border-radius: 5px;
  }
  
.card > div {
    margin-right: 5px;
    width: 100%;
}
.card > img {
    background-color: #f1f1f1;
    text-align: center;
}



form .card  textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
}

.cardTextarea{
    flex:1
}

.h-red{
    margin-bottom: 5px !important;
    color: #d6211b !important ;
}

.card h3{
    color: #d6211b;
    margin: 0;
}

.card h4 {
    color: #FF841C;
    margin: 0;
}
.preco{
    width: 120px;
    font-size: 20px;
    text-align: right;
}

.card p {
    font-size: 14px;
    margin: 0;
}

.sem-item{
    font-size: 26px;
}

.botao-carrinho{
    cursor: pointer;
    border: none;
    display: block;
    padding: 15px;
    background-color: #FF841C;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
}

.botao-whatsapp{
    display: flex;
    cursor: pointer;
    border: none;
    padding: 15px;
    background-color: #079b45;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    align-items: center;
}

.botao-logout{
    cursor: pointer;
    border: none;
    display: block;
    padding: 15px;
    background-color: #572a2a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

.botao-face{
    margin-top: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    padding: 15px 25px 15px 15px;
    background-color: #2D4995;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    align-items: center;
}

.botao-cont{
    margin-top: 30px;
    display: block;
    padding: 15px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.botao-cont-2{
    display: block;
    padding: 15px;
    background-color: #464646;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.flex-center{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center i {
    margin: 0 10px;
}

.flex{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.flex-1{
    flex:1;
}

.flex-1 p{
    margin: 5px 0;
}

.valor{
    font-size: 26px;
    font-weight: bold;
    color:  #d6211b;

}

.contador button {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.addtocart_qt {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

section.productlist {

}

.cart-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-pag-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cart-pag-header h1, .cart-pag-header h2{
    margin: 0 5px;
}

.cart-pag-header h2{
    color: #FF841C;
}


.div-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    color: #FF841C;
}

.div-cart i{
    font-size: 55px;
}
.cart{
    background-color: #fff;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

table i{
      margin: 0;
      color: #d6211b ;
  }
  
th, td {
    text-align: left;
    padding: 4px;
    font-weight: bold;
  }
  
.cart_price {
    width: 90px;
    color: #FF841C;
}

.cart_obs{
    font-weight: normal;
}

.cart-val-total{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.img-cover{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.section-header{
    background: url(https://media.gazetadopovo.com.br/bomgourmet/2019/09/pastel-de-camarao-10-pasteis-c5f12cc0.jpg) center;
    background-size: cover;
}
.div-header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.75));
    display:flex;
    flex-direction: column;
    color: white;
    height:220px;
    padding: 15px;
    align-items:center;
    justify-content:center;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
.section-container{
        margin-bottom:80px;
    }

p.address{
    font-size: 20px;
    margin: 10px 0;
}

@media screen and (min-width: 480px) {
    nav ul {
        position: fixed;
        top: 0;
        height: 45px;
        width: 100%;
    }
    i {
        margin:0 10px;
        font-size: 22px;
    }
    section.categories ul{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    section.categories ul li a:hover{
        background-image: linear-gradient(to bottom, rgba(100,0,0,0), rgba(0,0,0,0.5));
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }
    footer{
        display:block !important;
        text-align: center;
        padding: 3px;
        background-color: #3A3A3A;
        color: white;
    }
    .topbar{
        display: none;
    }
    .section-container{
        margin-top:45px !important;
    }
}

footer{
    display:none
}

/* ESTILO DO FORM

*/

* {
    box-sizing: border-box;
  }
  
  .container-form input[type=text], input[type=email], input[type=password], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .container-form label {
    color: #d6211b;
    font-weight: bold;
    padding: 12px 12px 5px 0;
    display: inline-block;
  }
  
  .container-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container-form input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }